<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Alunos</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div>
			<div class="jumbotron mb-0 mt-3">
		    	<h1 class="display-4">Lista de Alunos</h1>
			</div>
		</div>

		<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
		    <div class="navbar-nav">
		        <a href="/forms/novoAluno"><button class="btn btn-outline-primary my-2 my-sm-0">Registrar novo aluno</button></a>
		    </div>
		</nav>

		<div class="card mb-3" th:each="aluno : ${alunos}">
			<div class="card-header alert-primary" th:text="${aluno.nome}">Nome do aluno</div>

			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 mb-3">
						<div class="col-md-5">Sexo: <span th:text="${aluno.sexo}">Sexo do aluno</span></div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-8 mb-3">
						<div class="col-md-5">Matrícula: <span th:text="${aluno.matricula}">Matrícula do aluno</span></div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-8 mb-3">
						<div class="col-md-5">Data de nascimento: <span th:text="${aluno.dataNascimento}">Data de nascimento do aluno</span></div>
					</div>
				</div>

				<a href=""><button class="btn btn-outline-secondary my-2 my-sm-0">Consultar aluno</button></a>

				<a href=""><button class="btn btn-outline-warning my-2 my-sm-0">Alterar matrícula</button></a>

				<a href=""><button class="btn btn-outline-danger my-2 my-sm-0">Excluir aluno</button></a>
			</div>
		</div>
	</div>
</body>
</html>